# AirBnB business insights from datas

## abstract

analysing data from AirBnB Boston and Seattle, following with CRISP-MD prosess.
using open data below. 
https://www.kaggle.com/airbnb/seattle
https://www.kaggle.com/airbnb/boston

CRISP-DM
1. Business Understanding 
2. Data Understanding 
3. Prepare Data 
4. Model Data 
5. Results 
6. Deploy

## Business understanding

### what is AirBnB?

AirBnB is Airbnb is an online marketplace for arranging or offering lodging, primarily homestays, or tourism experiences. 

The company does not own any of the real estate listings, nor does it host events; it acts as a broker, receiving commissions from each booking. 

Guests can search for lodging using filters such as lodging type, dates, location, and price. Guests have the ability to search for specific types of homes, such as bed and breakfasts, unique homes, and vacation homes. 

Guests have the ability to chat with hosts through a secure messaging system. Hosts provide prices and other details for their rental or event listings, such as the allowed number of guests, home type, rules, and amenities.

Pricing is determined by the host. Hosts and guests have the ability to leave reviews about the experience(wikipedia)

### Business Questions

* when is the most vacant season for booking? (might be able to have sales in this season and area)
   -is there any differences between boston and seattle?
* Which city is the most active? (booking rate, numbers of reviews, numbers of hosts)
* How hosts informatin affects to the booking rate? (host_verifications/host_has_profile_pic/host_identity_verified)

else...
* what is the most related to the high rates? 
* what is the most related to the common room?(booking rate) 
* Is there any differences between seattles and bostons customers?
* How do we acquire new customers?
* Does a new treatment perform better than an existing treatment?
* How can improve communication?
* How can we improve travel?
* How can we better retain information?

Content
The following Airbnb activity is included in this Seattle dataset: 
* Listings, including full descriptions and average review score 
* Reviews, including unique id for each reviewer and detailed comments 
* Calendar, including listing id and the price and availability for that day


Inspiration
Can you describe the vibe of each Seattle neighborhood using listing descriptions?
What are the busiest times of the year to visit Seattle? By how much do prices spike?
Is there a general upward trend of both new Airbnb listings and total Airbnb visitors to Seattle?
For more ideas, visualizations of all Seattle datasets can be found here.

In [3]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [26]:
df_boston_calendar = pd.read_csv('boson_calendar.csv')
df_boston_listings = pd.read_csv('boston_listings.csv')
df_boston_reviews = pd.read_csv('boston_reviews.csv')
df_seattle_calendar = pd.read_csv('seattle_calendar.csv')
df_seattle_listings= pd.read_csv('seattle_listings.csv')
df_seattle_reviews = pd.read_csv('seattle_reviews.csv')

Boston Data

In [20]:
df_boston_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
listing_id    1308890 non-null int64
date          1308890 non-null object
available     1308890 non-null object
price         643037 non-null object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB

In [22]:
df_boston_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
id                                  3585 non-null int64
listing_url                         3585 non-null object
scrape_id                           3585 non-null int64
last_scraped                        3585 non-null object
name                                3585 non-null object
summary                             3442 non-null object
space                               2528 non-null object
description                         3585 non-null object
experiences_offered                 3585 non-null object
neighborhood_overview               2170 non-null object
notes                               1610 non-null object
transit                             2295 non-null object
access                              2096 non-null object
interaction                         2031 non-null object
house_rules                         2393 non-null object
thumbnail_url                       2986 non-null object
medium_url                          2986 non-null object
picture_url                         3585 non-null object
xl_picture_url                      2986 non-null object
host_id                             3585 non-null int64
host_url                            3585 non-null object
host_name                           3585 non-null object
host_since                          3585 non-null object
host_location                       3574 non-null object
host_about                          2276 non-null object
host_response_time                  3114 non-null object
host_response_rate                  3114 non-null object
host_acceptance_rate                3114 non-null object
host_is_superhost                   3585 non-null object
host_thumbnail_url                  3585 non-null object
host_picture_url                    3585 non-null object
host_neighbourhood                  3246 non-null object
host_listings_count                 3585 non-null int64
host_total_listings_count           3585 non-null int64
host_verifications                  3585 non-null object
host_has_profile_pic                3585 non-null object
host_identity_verified              3585 non-null object
street                              3585 non-null object
neighbourhood                       3042 non-null object
neighbourhood_cleansed              3585 non-null object
neighbourhood_group_cleansed        0 non-null float64
city                                3583 non-null object
state                               3585 non-null object
zipcode                             3547 non-null object
market                              3571 non-null object
smart_location                      3585 non-null object
country_code                        3585 non-null object
country                             3585 non-null object
latitude                            3585 non-null float64
longitude                           3585 non-null float64
is_location_exact                   3585 non-null object
property_type                       3582 non-null object
room_type                           3585 non-null object
accommodates                        3585 non-null int64
bathrooms                           3571 non-null float64
bedrooms                            3575 non-null float64
beds                                3576 non-null float64
bed_type                            3585 non-null object
amenities                           3585 non-null object
square_feet                         56 non-null float64
price                               3585 non-null object
weekly_price                        892 non-null object
monthly_price                       888 non-null object
security_deposit                    1342 non-null object
cleaning_fee                        2478 non-null object
guests_included                     3585 non-null int64
extra_people                        3585 non-null object
minimum_nights                      3585 non-null int64
maximum_nights                      3585 non-null int64
calendar_updated                    3585 non-null object
has_availability                    0 non-null float64
availability_30                     3585 non-null int64
availability_60                     3585 non-null int64
availability_90                     3585 non-null int64
availability_365                    3585 non-null int64
calendar_last_scraped               3585 non-null object
number_of_reviews                   3585 non-null int64
first_review                        2829 non-null object
last_review                         2829 non-null object
review_scores_rating                2772 non-null float64
review_scores_accuracy              2762 non-null float64
review_scores_cleanliness           2767 non-null float64
review_scores_checkin               2765 non-null float64
review_scores_communication         2767 non-null float64
review_scores_location              2763 non-null float64
review_scores_value                 2764 non-null float64
requires_license                    3585 non-null object
license                             0 non-null float64
jurisdiction_names                  0 non-null float64
instant_bookable                    3585 non-null object
cancellation_policy                 3585 non-null object
require_guest_profile_picture       3585 non-null object
require_guest_phone_verification    3585 non-null object
calculated_host_listings_count      3585 non-null int64
reviews_per_month                   2829 non-null float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

In [16]:
df_boston_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
listing_id       68275 non-null int64
id               68275 non-null int64
date             68275 non-null object
reviewer_id      68275 non-null int64
reviewer_name    68275 non-null object
comments         68222 non-null object
dtypes: int64(3), object(3)
memory usage: 3.1+ MB

seattle data

In [21]:
df_seattle_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
listing_id    1393570 non-null int64
date          1393570 non-null object
available     1393570 non-null object
price         934542 non-null object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [23]:
df_boston_listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,...,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,...,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,8.516813e-01,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,...,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,...,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

In [27]:
df_seattle_listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3.818000e+03,3816.000000,3816.000000,3818.000000,3818.000000,3818.000000,3802.000000,3812.000000,...,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,1.578556e+07,7.157757,7.157757,47.628961,-122.333103,3.349398,1.259469,1.307712,...,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
std,2.962660e+06,0.000000e+00,1.458382e+07,28.628149,28.628149,0.043052,0.031745,1.977599,0.590369,0.883395,...,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348
min,3.335000e+03,2.016010e+13,4.193000e+03,1.000000,1.000000,47.505088,-122.417219,1.000000,0.000000,0.000000,...,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,3.275204e+06,1.000000,1.000000,47.609418,-122.354320,2.000000,1.000000,1.000000,...,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,1.055814e+07,1.000000,1.000000,47.623601,-122.328874,3.000000,1.000000,1.000000,...,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2.590309e+07,3.000000,3.000000,47.662694,-122.310800,4.000000,1.000000,2.000000,...,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,5.320861e+07,502.000000,502.000000,47.733358,-122.240607,16.000000,8.000000,7.000000,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000